.heading {
  height: 2em;
  padding: 3em;
  border-bottom: 1px solid var(--text-color);
}

.assignments {
  padding: 0 3em;
}

.assignments ul {
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

.assignments ul li {
  display: inline-block;
}

.assignments ul li a {
  color: var(--link-color);
}
