/* Universal */
$--text-color: #101010;
$--link-color: #1b72e4;
$--bg-color: #efefef;

/* Card Related */
$--card-bg-white: #ffffff;
$--card-tag-red: #fc0d40;
$--card-tag-white: #ffffff;

/* Text Colors */
$--card-text-black: #101010;
$--card-text-lightGrey: #b8b8b8;
$--card-text-grey: #999999;
$--card-text-white: #ffffff;
$--card-text-green: #0fff37;
$--card-link-white: #cacaca;
$--card-link-white-hover: #ffffff;

/* Button Colors */
$--card-viewMore-color: #cacaca;
$--card-viewMore-hover-color: #ffffff;
$--card-likeBtn-color: #d4d4d4;
$--card-likeBtn-hover-color: #ff6f6f;
$--card-likeBtn-clicked-color: #ff0000;
