:root {
  --card-bg-white: #ffffff;
  --card-tag-red: #fc0d40;
  --card-tag-white: #ffffff;
  /* Text Colors */
  --card-text-black: #101010;
  --card-text-lightGrey: #b8b8b8;
  --card-text-grey: #999999;
  --card-text-white: #ffffff;
  --card-text-green: #0fff37;
  --card-link-white: #cacaca;
  --card-link-white-hover: #ffffff;
  /* Button Colors */
  --card-viewMore-color: #cacaca;
  --card-viewMore-hover-color: #ffffff;
  --card-likeBtn-color: #d4d4d4;
  --card-likeBtn-hover-color: #ff6f6f;
  --card-likeBtn-clicked-color: #ff0000;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
  padding: 3em;
}

.card {
  position: relative;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 5px #2b2b2b59;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

.card:active {
  transform: scale(1.005);
}

/* Card Tag Design */

.card__tag {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
  padding: 0.2em 1em;
  opacity: 0.9;
  font-weight: 500;
  border-radius: 3px;
}

.tag__red {
  background: var(--card-tag-red);
  color: var(--card-text-white);
}

.tag__white {
  background: var(--card-tag-white);
  color: var(--card-text-black);
}

/* Card Text Design  */

.card__title_black {
  margin: 0;
  font-weight: 400;
  color: var(--card-text-black);
}

.card__title_white {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--card-text-white);
}

.card__subtitle_grey {
  margin: 0;
  font-weight: 300;
  color: var(--card-text-grey);
}

.card__subtitle_white {
  margin: 0;
  font-weight: 300;
  color: var(--card-text-white);
}

.card__subtitle_green {
  margin: 0;
  font-weight: 300;
  color: var(--card-text-green);
}

.card__review {
  margin: 1em 0 0;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--card-text-lightGrey);
}

.card__pricing {
  margin: 1em 0 0;
}

/* Card Like Button */

.card__likeBtn .card__likeBtn__icon {
  transition: 0.3;
  fill: var(--card-likeBtn-color);
}

.card__likeBtn:hover .card__likeBtn__icon {
  fill: var(--card-likeBtn-hover-color);
}

.card__likeBtn:active .card__likeBtn__icon {
  fill: var(--card-likeBtn-clicked-color);
}

.card__likeBtn:visited .card__likeBtn__icon {
  fill: var(--card-likeBtn-clicked-color);
}

/* Card 1 Specific Design */

.card1__top {
  min-width: 100%;
}

.card1__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card1__bot {
  padding: 1em;
  background: var(--card-bg-white);
  border-radius: 0 0 10px 10px;
}

.card1__bot_left {
  display: inline-block;
}

.card1__bot_right {
  float: right;
}

/* Card 2 specific Design */

.card2 {
  background-image: url('./assets/bg-6.png');
  background-size: cover;
}

.card2__description {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.card2__viewMore {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 2em;
  color: var(--card-viewMore-color);
  text-decoration: none;
  transition: 0.3s;
}

.card2__viewMore:hover {
  color: var(--card-viewMore-hover-color);
}

/* Card 3 Specific Design */

.card3 {
  grid-column: span 2;
  background-image: url('./assets/bg-2.png');
  background-size: cover;
}

.card3__description {
  position: absolute;
  bottom: 10%;
  padding-left: 1em;
  width: 70%;
  font-size: 1.5em;
  border-left: 4px solid var(--card-text-green);
}

.card__viewTrip {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding: 0.5em 1em;
  background-image: linear-gradient(
    to right,
    rgb(117, 43, 255),
    rgb(28, 145, 255)
  );
  color: var(--card-link-white);
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;
}

.card__viewTrip:hover {
  color: var(--card-link-white-hover);
  transform: translateY(-0.1em);
}

.card3__artWord {
  position: absolute;
  bottom: 0;
  font-size: 10em;
  color: var(--card-text-white);
  opacity: 0.1;
}

/* Card 5 Specific Design */

.card5__image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card5__description {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  border-radius: 10px;
  background: white;
}

.card5__pricing {
  margin: 1em 0 0;
}
