:root {
  --card-bg-white: #ffffff;
  --card-tag-color: #fc0d40;
  --card-tagText-color: #ffffff;
  /* Text Colors */
  --card-text-black: #101010;
  --card-text-lightGrey: #b8b8b8;
  --card-text-grey: #999999;
  --card-text-white: #ffffff;
  /* Button Colors */
  --card-viewMore-color: #cacaca;
  --card-viewMore-hover-color: #ffffff;
  --card-likeBtn-color: #d4d4d4;
  --card-likeBtn-hover-color: #ff6f6f;
  --card-likeBtn-clicked-color: #ff0000;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 1fr 1.5fr;
  gap: 1em;
  padding: 3em;
}

.card {
  position: relative;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

/* Card Tag Design */

.card__tag {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
  padding: 0.2em 1em;
  opacity: 0.9;
  background: var(--card-tag-color);
  color: var(--card-tagText-color);
  border-radius: 3px;
}

/* Card Text Design  */

.card__title_black {
  margin: 0;
  font-weight: 400;
  color: var(--card-text-black);
}

.card__title_white {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--card-text-white);
}

.card__subtitle_grey {
  margin: 0;
  font-weight: 300;
  color: var(--card-text-grey);
}

.card__subtitle_white {
  margin: 0;
  font-weight: 300;
  color: var(--card-text-white);
}

.card__review {
  margin: 1em 0 0;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--card-text-lightGrey);
}

.card__pricing {
  margin: 1em 0 0;
}

/* Card Like Button */

.card__likeBtn .card__likeBtn__icon {
  transition: 0.3;
  fill: var(--card-likeBtn-color);
}

.card__likeBtn:hover .card__likeBtn__icon {
  fill: var(--card-likeBtn-hover-color);
}

.card__likeBtn:active .card__likeBtn__icon {
  fill: var(--card-likeBtn-clicked-color);
}

.card__likeBtn:visited .card__likeBtn__icon {
  fill: var(--card-likeBtn-clicked-color);
}

/* Card 1 Specific Design */

.card1__top {
  min-width: 100%;
}

.card1__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card1__bot {
  padding: 1em;
  background: var(--card-bg-white);
  border-radius: 0 0 10px 10px;
}

.card1__bot_left {
  display: inline-block;
}

.card1__bot_right {
  float: right;
}

/* Card 2 specific Design */

.card2 {
  background-image: url('./assets/bg-6.png');
  background-size: cover;
}

.card2__description {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.card2__viewMore {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 2em;
  color: var(--card-viewMore-color);
  text-decoration: none;
  transition: 0.3s;
}

.card2__viewMore:hover {
  color: var(--card-viewMore-hover-color);
}

/* Card 3 Specific Design */

.card3 {
  grid-column: span 2;
  background-image: url('./assets/bg-2.png');
  background-size: cover;
}

/* Card 5 Specific Design */

.card5__image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card5__description {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  border-radius: 10px;
  background: white;
}

.card5__pricing {
  margin: 1em 0 0;
}
