:root {
  --card-tag-color: #ff1e4f;
  --card-tagText-color: #ffffff;
  --card1-bg-color: #ffffff;
  --card1-title-color: #101010;
  --card1-subtitle-color: #999999;
  --card1-likeBtn-color: #eeeeee;
  --card1-likeBtn-hover-color: rgb(255, 117, 117);
  --card1-likeBtn-clicked-color: #ff0000;
  --card3-text-color: #ffffff;
  --card3-review-color: #cccccc;
  --card3-viewMore-color: #dbdbdb;
  --card3-viewMore-hover-color: #ffffff;
  --card5-review-color: #999999;
  --card5-title-color: #101010;
  --card5-subtitle-color: #b8b8b8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 1fr 1.5fr;
  gap: 1em;
  padding: 3em;
}

.card {
  position: relative;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

.card-tag {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
  padding: 0.2em 1em;
  opacity: 0.8;
  background: var(--card-tag-color);
  color: var(--card-tagText-color);
  border-radius: 3px;
}

/* Card 1 Design */

.card1-top {
  min-width: 100%;
}

.card1-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card1-bot {
  padding: 1em;
  background: var(--card1-bg-color);
  border-radius: 0 0 10px 10px;
}

.card1-bot-left {
  display: inline-block;
}

.card1-bot-right {
  float: right;
}

.card1-title {
  margin: 0;
  font-weight: 400;
  color: var(--card1-title-color);
}

.card1-subtitle {
  margin: 0;
  font-weight: 300;
  color: var(--card1-subtitle-color);
}

.card1-likeBtn .card1-likeBtn-icon {
  transition: 0.3;
  fill: var(--card1-likeBtn-color);
}

.card1-likeBtn:hover .card1-likeBtn-icon {
  fill: var(--card1-likeBtn-hover-color);
}

.card1-likeBtn:visited .card1-likeBtn-icon {
  fill: var(--card1-likeBtn-clicked-color);
}

/* Card 2 Design */

.card2 {
  background-image: url('./assets/bg-6.png');
  background-size: cover;
}

.card2-description {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: var(--card3-text-color);
}

.card2-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.card2-subtitle {
  margin: 0;
  font-weight: 300;
}

.card2-review {
  margin: 1em 0 0;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--card3-review-color);
}

.card2-viewMore {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 2em;
  color: var(--card3-viewMore-color);
  text-decoration: none;
  transition: 0.3s;
}

.card2-viewMore:hover {
  color: var(--card3-viewMore-hover-color);
}

/* Card 3 Design */

.card3 {
  grid-column: span 2;
  background-image: url('./assets/bg-2.png');
  background-size: cover;
}

/* Card 5 Design */

.card5-image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card5-description {
  position: absolute;
  padding: 1em;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  border-radius: 10px;
  background: white;
}

.card5-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--card5-title-color);
}

.card5-subtitle {
  margin: 0;
  font-weight: 500;
  color: var(--card5-subtitle-color);
}

.card5-review {
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
  color: var(--card5-review-color);
}

.card5-pricing {
  margin: 1em 0 0;
}
